<?xml version="1.0" encoding="UTF-8" ?>

<configuration status="warn">
    <Appenders>
        <Console name = "Console" target = "SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref = "Console"/>
        </Root>
    </Loggers>
</configuration>
